@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #242424; /* ✔ si querés fondo oscuro global */
  color: inherit; /* ✔ deja que Tailwind maneje el color */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
